src/MetadataExtensionPrototype/Metadata/RestaurantService.wsdl

<!--WSDL generated by thinktecture WSCF; version 0.7.6319.1-->
<!--Friday, 13-07-2007 - 05:56 PM-->
<definitions xmlns:tns="http://www.thinktecture.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import0="urn:thinktecture-com:demos:restaurantservice:messages:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestaurantService" targetNamespace="http://www.thinktecture.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_RestaurantServiceInterface_policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="RestaurantMessages.xsd" namespace="urn:thinktecture-com:demos:restaurantservice:messages:v1" />
    </xsd:schema>
  </types>
  <message name="getRestaurantsIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:getRestaurants" />
  </message>
  <message name="getRestaurantsOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:getRestaurantsResponse" />
  </message>
  <message name="addRestaurantIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:addRestaurant" />
  </message>
  <message name="rateRestaurantIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="parameters" element="import0:rateRestaurant" />
  </message>
  <message name="customFaultMessage">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="fault" element="import0:customFault" />
  </message>
  <portType name="RestaurantServiceInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="getRestaurants">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:getRestaurantsIn" />
      <output message="tns:getRestaurantsOut" />
      <fault name="customFault" message="tns:customFaultMessage" />
    </operation>
    <operation name="addRestaurant">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:addRestaurantIn" />
    </operation>
    <operation name="rateRestaurant">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:rateRestaurantIn" />
    </operation>
  </portType>
  <binding name="BasicHttpBinding_RestaurantServiceInterface" type="tns:RestaurantServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getRestaurants">
      <soap:operation soapAction="http://www.thinktecture.com/getRestaurantsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="customFault">
        <soap:body use="literal" />
      </fault>
    </operation>
    <operation name="addRestaurant">
      <soap:operation soapAction="http://www.thinktecture.com/addRestaurantIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="rateRestaurant">
      <soap:operation soapAction="http://www.thinktecture.com/rateRestaurantIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <binding name="NetTcpBinding_RestaurantServiceInterface" type="tns:RestaurantServiceInterface">
    <wsp:PolicyReference URI="#NetTcpBinding_RestaurantServiceInterface_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <operation name="getRestaurants">
      <soap12:operation soapAction="http://www.thinktecture.com/getRestaurantsIn" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
      <fault name="customFault">
        <soap12:body use="literal" />
      </fault>
    </operation>
    <operation name="addRestaurant">
      <soap12:operation soapAction="http://www.thinktecture.com/addRestaurantIn" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
    </operation>
    <operation name="rateRestaurant">
      <soap12:operation soapAction="http://www.thinktecture.com/rateRestaurantIn" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="RestaurantServicePort">
    <port name="RestaurantServicePort" binding="tns:BasicHttpBinding_RestaurantServiceInterface">
      <soap:address location="http://localhost:8080/myservice.svc" />
    </port>
    <port name="RestaurantServiceSOAP12Port" binding="tns:NetTcpBinding_RestaurantServiceInterface">
      <soap12:address location="net.tcp://localhost:8080/myservice.svc" />
    </port>
  </service>
</definitions>