src/MetadataExtensionPrototype/Metadata/RestaurantHeaderData.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="RestaurantHeaderData" targetNamespace="urn:thinktecture-com:demos:restaurantservice:headerdata:v1"
	elementFormDefault="qualified" xmlns="urn:thinktecture-com:demos:restaurantservice:headerdata:v1"
	xmlns:mstns="urn:thinktecture-com:demos:restaurantservice:headerdata:v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="credentials">
		<xs:sequence>
			<xs:element name="username" type="xs:string" />
			<xs:element name="password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="userCredentials" type="credentials"></xs:element>
</xs:schema>